@model ventasweb.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreProducto" class="control-label"></label>
                <input asp-for="nombreProducto" class="form-control" />
                <span asp-validation-for="nombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fabricante" class="control-label"></label>
                <input asp-for="fabricante" class="form-control" />
                <span asp-validation-for="fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proveedor" class="control-label"></label>
                <input asp-for="proveedor" class="form-control" />
                <span asp-validation-for="proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="peso" class="control-label"></label>
                <input asp-for="peso" class="form-control" />
                <span asp-validation-for="peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="volumen" class="control-label"></label>
                <input asp-for="volumen" class="form-control" />
                <span asp-validation-for="volumen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioProd" class="control-label"></label>
                <input asp-for="precioProd" class="form-control" />
                <span asp-validation-for="precioProd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="enVenta" /> @Html.DisplayNameFor(model => model.enVenta)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="descripcionProd" class="control-label"></label>
                <input asp-for="descripcionProd" class="form-control" />
                <span asp-validation-for="descripcionProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subcategoriaId" class="control-label"></label>
                <select asp-for="subcategoriaId" class ="form-control" asp-items="ViewBag.subcategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
